*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Regole Header */


#intestazione{
    color: white;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: right;
    align-items: center;
    /* debug */
    background-color: black ;
}

.iconheader{
    background-color:#4b4b4b ;
    border-radius: 7px;
    height: 28px;
    width: auto;
    margin: 0 5px 25px;
    display: flex;
    align-items: center;
}


/* Regole Main */

main{
    background-color: black;
    display: flex;
    justify-content: center;
}

.imgcontainer{
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start;
    align-items: flex-start; */
    /* debug */
    background-color: brown;
}

.ridimensionamentoimg{
    background-size: cover;
    width: 15%;
    position: relative;
    border-left: black solid 4px;
    border-bottom: black solid 8px;
}

.nomeutente{
    background-color: #4b4b4b56;
    color: white;
    position: absolute;

}

.interfacciautente {
	width: 100%;
    height: fit-content;
	display: flex;
	justify-content: flex-start;
}

/* Regole Footer */

.layouttasti{
    width: 100%;
    height: 70px;
    background-color: #222222;
    color: white;
}